body {
		font-family: 'Raleway', sans-serif;
}

.navbar {
	margin: 0;
	color: black;
}

nav ul a {
	margin: 30px;
	padding: 0;
	font-size: 2rem;
	color: black;
}

nav ul a:visited {
	text-decoration: none;
	color: black;
}

nav ul a:hover {
	text-decoration-color: none;
	color: red;
}

#park1 {
	

}

.row {
	padding: 5px;
}
div img {
	width: 100%;
	height: 100%;
}